In [1]:
import pandas as pd 
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('C:/Users/joao_/Desktop/4 ANO JOAO/SINO/DataSets SINO/bank/bank-full.csv', sep = ";")

In [3]:
data = data.drop('poutcome', axis=1)

In [4]:
data = data.drop('contact', axis=1)

In [5]:
data = data.drop('duration', axis=1)

In [8]:
data.shape

(45211, 14)

In [9]:
data = data.drop_duplicates()

In [10]:
data.shape

(45190, 14)

In [9]:
data[['job','education']] = data[['job','education']].replace(['unknown'],'other')

In [10]:
data.to_csv('Bank-Full-columns.csv', index=False)