In [1]:
import pandas as pd 
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('C:/Users/joao_/Desktop/4 ANO JOAO/SINO/VS CODE PROJETO/Datasets/bank-Full-columns.csv')

In [4]:
list = [data]

for column in list:
    column.loc[column["month"] == "jan", "month"] = "Inverno"
    column.loc[column["month"] == "feb", "month"] = "Inverno"
    column.loc[column["month"] == "mar", "month"] = "Inverno"
    column.loc[column["month"] == "apr", "month"] = "Primavera"
    column.loc[column["month"] == "may", "month"] = "Primavera"
    column.loc[column["month"] == "jun", "month"] = "Primavera"
    column.loc[column["month"] == "jul", "month"] = "Verão"
    column.loc[column["month"] == "aug", "month"] = "Verão"
    column.loc[column["month"] == "sep", "month"] = "Verão"
    column.loc[column["month"] == "oct", "month"] = "Outono"
    column.loc[column["month"] == "nov", "month"] = "Outono"
    column.loc[column["month"] == "dec", "month"] = "Outono"

In [3]:
data.head()

,age,job,marital,education,default,balance,housing,loan,day,month,campaign,pdays,previous,y
0,58,management,married,tertiary,no,2143,yes,no,5,may,1,-1,0,no
1,44,technician,single,secondary,no,29,yes,no,5,may,1,-1,0,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,5,may,1,-1,0,no
3,47,blue-collar,married,other,no,1506,yes,no,5,may,1,-1,0,no
4,33,other,single,other,no,1,no,no,5,may,1,-1,0,no

list = [data]

for column in list:
    column.loc[column["month"] == "jan", "month"] = 1
    column.loc[column["month"] == "feb", "month"] = 2
    column.loc[column["month"] == "mar", "month"] = 3
    column.loc[column["month"] == "apr", "month"] = 4
    column.loc[column["month"] == "may", "month"] = 5
    column.loc[column["month"] == "jun", "month"] = 6
    column.loc[column["month"] == "jul", "month"] = 7
    column.loc[column["month"] == "aug", "month"] = 8
    column.loc[column["month"] == "sep", "month"] = 9
    column.loc[column["month"] == "oct", "month"] = 10
    column.loc[column["month"] == "nov", "month"] = 11
    column.loc[column["month"] == "dec", "month"] = 12

list = [data]

for column in list:
    column.loc[column["job"] == "blue-collar", "job"] = 'employee'
    column.loc[column["job"] == "management", "job"] = 'employee'
    column.loc[column["job"] == "technician", "job"] = 'employee'
    column.loc[column["job"] == "admin.", "job"] = 'employee'
    column.loc[column["job"] == "services", "job"] = 'employee'
    column.loc[column["job"] == "housemaid", "job"] = 'employee'
    column.loc[column["job"] == "entrepreneur", "job"] = 'employee'
    column.loc[column["job"] == "student", "job"] = 'student'
    column.loc[column["job"] == "retired", "job"] = 'retired'
    column.loc[column["job"] == "unemployed", "job"] = 'unemploye'
    column.loc[column["job"] == "unknown", "job"] = 'unknown'

list = [data]

for column in list:
    column.loc[column["marital"] == "divorced", "marital"] = 'not married'
    column.loc[column["marital"] == "single", "marital"] = 'not married'

In [5]:
lst = [data]

for column in lst:
    column.loc[column["balance"] < 0,  'balance'] = -1
    column.loc[(column["balance"] >= 0) & (column["balance"] <= 2500), 'balance'] = 0
    column.loc[(column["balance"] >= 2500) & (column["balance"] <= 5000), 'balance'] = 1
    column.loc[column["balance"] >= 5000, 'balance'] = 2

In [6]:
lst = [data]

for column in lst:
    column.loc[column["age"] < 30,  'age'] = 20
    column.loc[(column["age"] >= 30) & (column["age"] <= 39), 'age'] = 30
    column.loc[(column["age"] >= 40) & (column["age"] <= 49), 'age'] = 40
    column.loc[(column["age"] >= 50) & (column["age"] <= 59), 'age'] = 50
    column.loc[column["age"] >= 60, 'age'] = 60

In [7]:
lst = [data]

for column in lst:
    column.loc[column["day"] <= 15,  'day'] = 0
    column.loc[column["day"] > 15, 'day'] = 1

In [8]:
lst = [data]

for column in lst:
    column.loc[column["campaign"] == 1,  'campaign'] = 1
    column.loc[column["campaign"] > 1,  'campaign'] = 2

lst = [data]

for column in lst:
    column.loc[column["pdays"] == -1, 'pdays'] = 0
    column.loc[column["pdays"] >= 1 & (column["pdays"] <= 30), 'pdays'] = 1
    column.loc[column["pdays"] > 30 , 'pdays'] = 2

In [9]:
lst = [data]

for column in lst:
    column.loc[(column['pdays'] == 999), 'pdays'] = 1
    column.loc[(column['pdays'] > 0) & (column['pdays'] <= 10), 'pdays'] = 2
    column.loc[(column['pdays'] > 10) & (column['pdays'] <= 20), 'pdays'] = 3
    column.loc[(column['pdays'] > 20) & (column['pdays'] != 999), 'pdays'] = 4

In [10]:
lst = [data]

for column in lst:
    column.loc[column["previous"] == 0,  'previous'] = 0
    column.loc[column["previous"] == 1,  'previous'] = 1
    column.loc[column["previous"] > 1,  'previous'] = 2

In [11]:
lst = [data]

for column in lst:
    column.loc[column["default"] == "no",  'default'] = 0
    column.loc[column["default"] == "yes",  'default'] = 1

In [12]:
lst = [data]

for column in lst:
    column.loc[column["loan"] == "no",  'loan'] = 0
    column.loc[column["loan"] == "yes",  'loan'] = 1

In [13]:
lst = [data]

for column in lst:
    column.loc[column["housing"] == "no",  'housing'] = 0
    column.loc[column["housing"] == "yes",  'housing'] = 1

In [14]:
lst = [data]

for column in lst:
    column.loc[column["y"] == "no",  'y'] = 0
    column.loc[column["y"] == "yes",  'y'] = 1

In [15]:
data.head()

,age,job,marital,education,default,balance,housing,loan,day,month,campaign,pdays,previous,y
0,50,management,married,tertiary,0,0,1,0,0,Primavera,1,-1,0,0
1,40,technician,single,secondary,0,0,1,0,0,Primavera,1,-1,0,0
2,30,entrepreneur,married,secondary,0,0,1,1,0,Primavera,1,-1,0,0
3,40,blue-collar,married,other,0,0,1,0,0,Primavera,1,-1,0,0
4,30,other,single,other,0,0,0,0,0,Primavera,1,-1,0,0

In [16]:
data.to_csv('Bank-full-transformed.csv', index=False)